doctype html
html(lang='en')
	head
		title Titre
		meta(charset='UTF-8')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		// link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
		link(rel="stylesheet", href="assets/styles/main.css")
	body
		h1 Simple modal  
			a.link(href="#", data-target="modal") Modal  
			a.link(href="#", data-target="modals") Modals 
		.modal.mod(data-title='modal')
			.modal-body
				.modal-container.shadowBox
					span.close X
					h1 Modal 1
		.modal.modals(data-title='modals')
			.modal-body
				.modal-container.shadowBox
					span.close X
					h1 Modals
		script(src="assets/scripts/app.js")
